<style>
div {
      height: 200px;
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      padding: 100px;
      background-color: "#52B6E3";

    }

input {
    padding: calc(2vh + 2vw) calc(6vw + 12px);
    border: 2px solid "#52B6E3";
    outline: none;
    border-radius: 12px;
    display: inline;
    vertical-align: middle;
    text-align: center;
    background-color: "#52B6E3";
    width: calc(30vw + 100px); /* Width changes based on viewport width */
    max-width: 80vw; 
    vertical-align: middle;
    position: relative;
    left: 50%;
    transform: translateX(-50%); /* Moves it back by 50% of its own width */
    font-size: clamp(0.5rem, 1vw + 0.5rem, 2rem);

}

button {
    background-color: gainsboro;
    color: black;
    font-size: clamp(0.5rem, 1vw + 00.5rem, 2rem);
    border: none;
    padding: calc(0.5vh + 1vw) calc(3vw + 1px);;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
}

h1 {
    font-size: clamp(2rem, 3vw + 2rem, 4rem);
    padding-top: clamp(2rem, 5vh + 2rem, 10rem)
}

.button:hover {
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

</style>



<body style = "background-color: #156082; margin-left: 0px; margin-right: 0px;" >
    <div id = "IP">
        <h1>Input the password:</h1>
    </div> 

    <input (keydown.enter)="checkPassword(inputPassword.value)" type = "password" #inputPassword>
    <br>
    <br>
    <button (click)="checkPassword(inputPassword.value)" class=" button"> Enter </button>
</body>

