<style>
  .i-button{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: clamp(1rem, 1.5vw + 1rem, 2.5rem);
  border-radius: 50%;
  border: 2px solid;
  color: white;
  position: fixed;
  top: 15px;
  right: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  z-index: 1000;
  background-color: #8c5da0;
  border-color:  #3a1c47;

}
</style>

<button class="i-button" (click)="showPopup()">
    i
  </button>
