
  <style>
    div {
      padding: 2vh, 0;
      text-align: center;
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .button1, .button2 {
    font-size: clamp(1.5rem, 2vw + 1rem, 3rem); /* makes the font size responsive */
    padding: clamp(1rem, 2vw + 0.5rem, 3rem) clamp(2rem, 5vw + 1rem, 6rem); /* responsive padding */
    border-radius: 12px;
    border: 2px solid;
    color: white;
    position: absolute;
    margin-top: clamp(3rem, 2vh + 4rem, 10rem);
    cursor: pointer;
  }

  .button1 {
    background-color: #FB590E;
    border-color: #FB9667;
    left: 10%; 
  }

  .button2 {
    background-color: #82DDED;
    border-color: #0085CC;
    left: 50%;
    margin-right: 10%;
  }

    h1{
      padding-top: clamp(10rem, 5vh + 0.5rem, 20rem);      
    }

    body{
      min-height: 400px;
      min-width: 300px;
    }

    .button1:hover, .button2:hover {
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }

  </style>


<body style = "background-color: #542966;">
  
  <app-info-button message="This is a learning game with user-input questions. If You wish to add a new category of questions, please click on the 'Enter Questions' button. If You wish to practice answering questions from the previously generated categoreis, please click the 'Play' button."></app-info-button>

  <div id = "welcomeSign">
    <h1>Hi, welcome to the game!</h1>
  </div>


  <div>
    <button id="button1" (click)="navigateToPickCat(); clickButton1()"class="button1">Play</button>
  </div>

  <div>
    <button id="button2"(click)="navigateToPasswordInput(); clickButton2()" class = "button2" >Enter Questions</button>
  </div>
  <router-outlet></router-outlet>


</body>


